:root {
    --box-width: 7em
}

.result-box {
    /* Text */
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-shadow:
        0 0 1em black,
        0 0 0.3em black;

    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.flex {
    display: flex;
}

.category-row {
    padding-top: 1em;
}

.category-title {
    /* Size */
    width: var(--box-width);
    min-width: var(--box-width);
    max-width: var(--box-width);
}

.box {
    /* Size */
    width: var(--box-width);
    height: var(--box-width);
    min-width: var(--box-width);
    min-height: var(--box-width);
    padding: 2px;
    /* Border */
    border-radius: 12px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    /* Centering */
    display: flex;
    justify-content: center;
    align-items: center;

}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.grey {
    background-color: rgb(90, 90, 109);
}

.down {
    background-color: red;
    background-image: url('../assets/downArrow.svg');
    background-size: cover;
}

.up {
    background-color: red;
    background-image: url('../assets/upArrow.svg');
    background-size: cover;
}

.box-mini {
    /* Display */
    display: inline-block;
    /* Size */
    width: 1em;
    height: 1em;
    /* Border */
    border-radius: 1.2px;
    border-width: 0.2px;
    border-color: black;
    border-style: solid;
}